@import '../../styles/global.css';

.header {
  position: fixed;
  background: var(--bg);
  width: 100%;
}

.header-content {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  float: right;
}

.nav {
  text-decoration: none;
}

a:hover {
  color: var(--a-link-hover-color);
}

.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--a-link-hover-color);
}