@import '../../styles/global.css';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
}

.header-socials {
  width: 110px;
  padding-left: 30px;
}

.header-content {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  float: right;
}

.nav {
  text-decoration: none;
}

a:hover {
  color: var(--a-link-hover-color);
}

.active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--a-link-hover-color);
}
